{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}
    After second set of tasks
{% endblock %}

{% block content %}

    <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title">Announcement</h5>
            <div>You have done correctly <span class="font-weight-bold">{{ correct_tasks }}</span>
                out of {{ total_tasks }} tasks in {{ get_time_for_tasks|duration }}</div>


        </div>
    </div>
    <div class="my-3">
        {% next_button %}
    </div>

{% endblock %}
