{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="card my-3">
        <div class="card-body">
            <h5 class="alert alert-info" class="card-title">Поздравляем! Тест окончен!</h5>
            <div  class=" p-3 mb-2 bg-light text-info" >Результаты:</div>
            {% include 'quiz/includes/result_block.html' %}
            


        </div>
    </div>
    <div class="my-3">
        {% next_button %}
    </div>

{% endblock %}
