{% extends "global/Page.html" %}
{% load otree otree_field_utils %}

{% block title %}
    Ответьте, пожалуйста, на вопросы анкеты
{% endblock %}


{% block content %}
    <style>
        th {
            position: sticky;
            top: 20px;
            background: #eee;
            z-index: 1000 !important
        }
    </style>
    {% joined_form form %}

    {% next_button %}
    <script>
        $('.otree-btn-next').click(() => {
            window.scrollTo(0, 0);
        })
    </script>

{% endblock %}
