{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <div class="alert alert-info" role="alert">
        <h5> Информированное согласие </h5>
    </div>
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Ваше участие является анонимным и конфиденциальным. Результаты этого исследования будут
                    опубликованы, но
                    Ваше имя никогда не будет упомянуто. Все решения участников исследования будут обрабатываться
                    компьютерной
                    программой, которая не раскрывает Вашу личность ни другим участникам, ни нам, так что никто не
                    сможет
                    связать Ваши действия лично с Вами.
                </li>
                <li class="list-group-item">
                    Участвуя в данном исследовании, Вы не подвергаете себя никаким рискам.
                </li>
                <li class="list-group-item">
                    Участие в исследовании возможно с использованием браузеров Firefox, Chrome/Chromium, Opera, Edge или
                    Yandex
                    с операционными системами для стационарных компьютеров, ноутбуков или смартфонов.


                </li>
                <li class="list-group-item">
                    Принимая участие в данном исследовании, Вы даете свое информированное согласие на использование
                    Ваших
                    ответов в анонимном виде и исключительно в научных целях.

                </li>
                <li class="list-group-item">
                    В среднем исследование занимает около 30 минут.
                </li>
                <li class="list-group-item">
                    Дайте знать, если у Вас будут какие-либо вопросы или технические сложности через сообщения
                    Yandex.Toloka или
                    по e-mail: <a href="mailto:epee@hse.ru" target="_blank" rel="noopener noreferrer">epee@hse.ru</a>.

                </li>
            </ul>
        </div>
    </div>


    <div class="my-3">

        {% next_button %}
    </div>

{% endblock %}


