{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="card my-3">
        <div  class="card-body">
            <h5 class="alert alert-info" class="card-title">Тренировочный раунд окончен!</h5>


            <div  class="my-3 lead text-center"> <p><strong>
                Теперь Вам  будет необходимо решить 10 похожих заданий за вознаграждение. </p></strong>
            </div>



        </div>
    </div>
    <div class="my-3">
        {% next_button %}
    </div>

{% endblock %}
