{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
 <div class="alert alert-info" role="alert">
<h1 class="display-4">Добро пожаловать на сегодняшний онлайн-эксперимент!</h1>
</div>
{% endblock %}

{% block content %}

    <div class="p-3 mb-2 bg-light text-info"> <h5>Пожалуйста, внимательно прочитайте следующие инструкции. В них вы найдете всё, что необходимо знать для участия в эксперименте. </h5> </div>


</div>


    <div>

    <p class="lead">
  Эксперимент разделен на части.
        В зависимости от части Вам нужно будет либо отвечать на вопросы анкет, либо решать задачи, ответы к которым необходимо будет вводить в специальное поле на экране.
</p>

  </div>
    <div>
      <p class="lead">
   В ходе эксперимента можно заработать опреледеленную сумму денег, размер которой зависит от количества правильно решенных Вами заданий.
        По окончании эксперимента заработанные Вами деньги будут выплачены Вам на счет в личном кабинете Яндекс.Толоки.</p>
 </div>
<div>
<p class="lead">
Эксперимент состоит из нескольких этапов. Помните, что Вы получите выплату только в том случае, если пройдете ВСЕ этапы до конца!
        Если Вы покините эксперимент раньше, то даже заработанная уже Вами сумма денег сгорит. Сразу после этой инструкции Вашему вниманию будет представлено две анкеты.
        Затем начнется основная часть эксперимента и Вас ознакомят с заданиями. Основная часть в свою очередь будет состоять из
       одного тренировочного раунда и двух базовых. Более подробные инструкции будут даны в дальнейшем.
        По окончании основной части Вас попросят пройти еще одну анкету.
        Пожалуйста, не забывайте, что все анкеты обязательны, старайтесь отвечать честно и внимательно. </p>
    </div>
  <div> <p class="lead"> <h5>
Удачи! </h5> </p>

    </div>
    {% next_button %}

{% endblock %}


