{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
 <div class="alert alert-info" role="alert">
<h2>Добро пожаловать на сегодняшний онлайн-эксперимент!</h2>
</div>
{% endblock %}

{% block content %}

    <div class="p-3 mb-2 bg-light text-info"> <h5>Пожалуйста, внимательно прочитайте следующую инструкцию.  </h5> </div>


</div>


    <div>

    <p class="lead">
  Эксперимент разделен на три части.

</p>

  </div>
    <div>
      <p class="lead">
   В ходе эксперимента Вы можете заработать опреледеленную сумму денег, которая складывается из фиксированной платы и бонуса.
        </p>
 </div>

    <div>
      <p class="lead">
Фиксированная плата за участие в эксперименте в размере 1 USD будет выплачена Вам сразу после того, как Вы введете верный код
    в интерфейсе Толоки по окончании эксперимента.
        </p>
 </div>

    <div>
      <p class="lead">
   В первой и второй части эксперимента у Вас также будет возможность заработать дополнительные деньги,
          которые будут выплачены Вам в качестве бонуса в Толоке. Ваш финальный бонус будет равен сумме, полученной за первую
          и вторую часть эксперимента.

        </p>
 </div>

<div>
<p class="lead">
Размер бонуса варьируется от 0 USD до 2 USD, в зависимости
          от количества правильно решенных Вами заданий. Все деньги будут выплачены сразу, как только вы
          закончите прохождение эксперимента.

         </p>
    </div>


<div>
<p class="lead">
Помните, что Вы получите выплату только в том случае, если пройдете ВСЕ этапы до конца!

         </p>
    </div>


  <div> <p class="lead"> <h5>
Желаем удачи! </h5> </p>

    </div>
    {% next_button %}

{% endblock %}


