{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <div class="alert alert-info" role="alert">
        <h2>Добро пожаловать на сегодняшний онлайн-эксперимент!</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Пожалуйста, внимательно прочитайте следующую инструкцию.
                </li>
                <li class="list-group-item">
                    Эксперимент разделен на три части.
                </li>
                <li class="list-group-item">
                    В ходе эксперимента Вы можете заработать опреледеленную сумму денег, которая складывается из
                    фиксированной
                    платы и бонуса.
                </li>
                <li class="list-group-item">
                    Фиксированная плата за участие в эксперименте в размере {{ session.config.toloka_participation_fee }} USD будет выплачена Вам сразу после того,
                    как Вы
                    введете верный код
                    в интерфейсе Толоки по окончании эксперимента.
                </li>
                <li class="list-group-item">
                    В первой и второй части эксперимента у Вас также будет возможность заработать дополнительные деньги,
                    которые будут выплачены Вам в качестве бонуса в Толоке. Ваш финальный бонус будет равен сумме,
                    полученной за
                    первую
                    и вторую часть эксперимента.
                </li>
                <li class="list-group-item">
                    Размер бонуса варьируется от 0 USD до 2 USD, в зависимости
                    от количества правильно решенных Вами заданий. Все деньги будут выплачены сразу, как только вы
                    закончите прохождение эксперимента.
                </li>
                <li class="list-group-item list-group-item-success font-weight-bold">
                    Помните, что Вы получите выплату только в том случае, если пройдете ВСЕ этапы до конца!
                </li>
                <li class="list-group-item text-center">
                    Желаем удачи!
                </li>
            </ul>
        </div>
    </div>

    {% next_button %}

{% endblock %}


