{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
 <div class="alert alert-info" role="alert">
<h5> Информированное согласие </h5>
</div>
{% endblock %}

{% block content %}


    <div>

    <p class="lead">
  Ваше участие в данном исследовании является добровольным. Вы можете отказаться от участия в эксперименте или прервать свое участие в любой момент времени без каких-либо последствий.Ваше участие в данном исследовании является добровольным. Вы можете отказаться от участия в эксперименте или прервать свое участие в любой момент времени без каких-либо последствий.

</p>

  </div>
    <div>
      <p class="lead">
   Ваше участие является анонимным и конфиденциальным. Результаты этого исследования будут опубликованы, но Ваше имя никогда не будет упомянуто. Все решения участников исследования будут обрабатываться компьютерной программой, которая не раскрывает Вашу личность ни другим участникам, ни нам, так что никто не сможет связать Ваши действия лично с Вами.
        </p>
 </div>
<div>
<p class="lead">
Участвуя в данном исследовании, Вы не подвергаете себя никаким рискам.

</p> </div>
<div>
<p class="lead">
Участие в исследовании возможно с использованием браузеров Firefox, Chrome/Chromium, Opera, Edge или Yandex с операционными системами для стационарных компьютеров или ноутбуков. Участие с другими браузерами или с мобильных телефонов невозможно.

         </p>
</div>

    <div>
<p class="lead">
Принимая участие в данном исследовании, вы даете свое информированное согласие на использование Ваших ответов в анонимном виде и исключительно в научных целях.

         </p>
</div>

      <div>
<p class="lead">
Пройдите по ссылке и ответьте на вопросы.

         </p>
</div>

     <div>
<p class="lead">
В среднем исследование занимает около 30 минут.

         </p>
</div>

    <div>
<p class="lead">
Дайте знать, если у вас будут какие-либо вопросы или технические сложности через сообщения Yandex.Toloka или по e-mail: epee@hse.ru.

         </p>
</div>

    <div>
<p class="lead">
Пройдите по этой ссылке и ответьте на вопросы.
В конце исследования вы получите код, который необходимо ввести ниже, чтобы задание считалось выполненным.

         </p>
</div>





    {% next_button %}

{% endblock %}


