{% extends "global/Page.html" %}
{% load otree static hse%}

{% block title %}
    <div class="alert alert-info" role="alert"> Результаты теста
</div>
{% endblock %}

{% block content %}
    <div class="p-3 mb-2 bg-light text-info">
    <h5>Вы ответили правильно на {{ player.correct_tests|q_ending }} из {{ player.total_tests }} </h5> </div>
    <table class="table table-hover table-striped">
        <thead>
        <th>Вопрос</th>
        <th>Ваш ответ</th>
        <th>Правильный ответ</th>
        </thead>
        {% for foo in player.get_correct_test_answers %}
            <tr>
                <td>{{ foo.label }}</td>
                <td>{{ foo.res }}</td>
                <td>{{ foo.correct_answer }}</td>
            </tr>
        {% endfor %}

    </table>
    {% formfields %}
    {% next_button %}

{% endblock %}
