{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}
    Second stage announcement
{% endblock %}

{% block content %}

    <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title">Announcement</h5>
            <div>You have done correctly <span class="font-weight-bold">{{ correct_tasks_stage1 }}</span>
                out of {{ total_tasks_stage1 }} in {{ get_time_for_tasks_stage1|duration }}</div>
            <div>
                Now you'll have the second set of tasks.
            </div>
            {% if tp %}
                <div>
                    You will have <span class="font-weight-bold">{{ player.time_for_task_2|duration }}</span>
                </div>

            {% endif %}
        </div>
    </div>
    <div class="my-3">
        {% next_button %}
    </div>

{% endblock %}
