{% extends "global/Page.html" %}
{% load otree hse %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="card my-3">
        <div class="card-body">
            <h5 class="alert alert-info" class="card-title">Первая часть окончена!</h5>
         <div  class=" p-3 mb-2 bg-light text-info" >Результаты:</div>
            {% include 'quiz/includes/result_block.html' %}
            <div class="my-3 lead text-center">
                <div> <p><strong>
                    Теперь мы переходим ко второй части задания ! </p></strong>
                </div>
                {% if tp %}
                    <div>
                        На решение у Вас будет дано <span class="font-weight-bold">{{ player.time_for_task_2|duration }}</span>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
    <div class="my-3">
        {% next_button %}
    </div>

{% endblock %}
