{% load otree %}
<div id="likert{{ random_id }}">
    <div class="btn-toolbar d-flex align-items-center justify-content-center" role="toolbar" aria-label="likert">
        <div class="btn-group mr-2" role="group" aria-label="likert">
            <button type="button"   v-for='item in range' :key="item" @click="selectVal(item)"
                    :class="classFun(item)">
                [[String(item)]]
            </button>
            <input type="hidden" :value='selectedVal' id="{{ widget.attrs.id }}" name="{{ widget.name }}"/>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#likert{{random_id}}',
        delimiters: ["[[", "]]"],
        data: {
            range:{{ range|json }},
            selectedVal: null,
            initialValue:{{ widget.value.0|json|default_if_none:'' }}
        },
        created() {
            var self = this;

            this.selectedVal = parseInt(this.initialValue) || ''

        },

        methods: {
            classFun(item){
                if (item===this.selectedVal) return 'btn btn-primary'
                return 'btn btn-outline-info'
            },
            selectVal(val) {
                console.debug('jopa', val)
                this.selectedVal = val;
            }
        }
    });
</script>

